body {
    text-align: center;
    font-family: 'Open Sans', 'Segoe UI Light', Arial;
 }

p {
    margin-top: 30px;
    color: gray;
}

#temps {
    color: red;
    font-family: 'Digital-7', monospace;
    font-size: 64px;
}

button {
    float: right;
    border: none;
    background: transparent;
}

button:hover {
    background: rgba(0, 0, 0, 0.2)
}

img {
    width: 20px;
    height: 20px;
}
